.w50{width: 50%}

.teams .card{
    border-bottom: 1px solid #EBEBEB;
    box-shadow: 0px 1px 0px #FAFAFA;
    padding: 2em;
    position: relative;
}

.teams .card{cursor: pointer;}
.teams .card:hover{background: #FCFCFC;}

.teams .home{text-align: right;}
.teams .team-img{
    /*height: 100px;
    width: 100px;*/
    display: inline-block;
    text-align: center;
}
.teams .team-img-small{
    height: 100px;
    width: 100px;
    display: inline-block;
    text-align: center;
}

.teams .team-img img{width: 100%}

.teams .card .info {
    margin-top: 1em;
    font-size: 1.3em;
    font-weight: normal;
    display: inline-block;
}

.details { text-decoration: none; }}

.reactions img{
    max-width: 30%;
    padding: 1%;
    display: inline-block;
}