{{define "details"}}{{template "header"}}{{template "nav"}}
<div class="jumbotron">
  <div class="container">
    <h2>{{.title}} {{if .Tomorrow}}{{.Tomorrow}}{{end}}</h2>
  </div>
</div>
<div class="leftNav">
    <div class="center-block w85 row teams" data-sport="{{if .events.Event}}{{with index .events.Event 0}}{{.Sport}}{{end}}{{else}}nba{{end}}" data-date="{{.events.EventsDate}}">
        {{template "eventsSmall" .}}
    </div>
</div>
{{if .images.Data}}
<div class="container">  
  <h2>Reactions:</h2>
  <div class="reactions text-center">
  {{range $o := .images.Data}}
  <img src="{{$o.Images.StandardResolution.URL}}">
  {{end}}
  </div>
</div>
{{template "footer"}}{{end}}
{{end}}